@font-face {
  font-family: "image-caption";
  src: url(https://fonts.google.com/specimen/Bakbak+One);
}
@font-face {
  font-family: "basic";
  src: url(https://fonts.google.com/specimen/Comfortaa);
}

* {
  margin: 0;
  border: 0;
  font-family: "basic";
}
